.text-container {
    width: 100%;
    max-width: 1280px;
    min-width: 400px; /* Set the minimum width to 400px */
    margin-bottom: 20px;
    border-radius: 5px;
    color: var(--text-color); /* Use text color from settings */
    font-size: 12px; /* Set the font size to 12px to match #bio */
    font-family: 'IBM Plex Mono', monospace; /* Ensure content block text is in IBM Plex Mono */
    position: relative;
    background: none; /* Remove background color */
}

.content-detail-left {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 2px;
	height: 100%;
    background: var(--highlight-color);
	transform-origin: 0% 24px;
}

.content-detail {
    position: absolute;
    top: 24px;
    width: 50%;
    float: left;
	font-size: 10px;
}

.content-label {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 10px;
    z-index: 2;
    opacity: 0; /* Initial state for GSAP animation */
}

.content-label-detail {
    color: var(--highlight-color);	
}

.content-platform-detail {
    color: var(--highlight-color);	
}

.content-line {
    position: absolute;
    flex-grow: 1;
    height: 1px;
    background-color: var(--highlight-color);
    width: calc(100% - 20px);
    left: 20px;
    top: 9px;
    transform-origin: left;
    transform: scaleX(0);
	z-index: 1;
}

.content-text {
    position: relative;
    left: 50%;
    margin-left: 0px;
    width: 31%;
    min-width: 350px;
    max-width: 600px;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
	border-bottom-color: var(--highlight-color);
	border-bottom-width: 12px;
	border-bottom-style: solid;
}

.content-title {
    font-family: 'Wavehaus', sans-serif; /* Use custom font for titles */
    font-size: 46px;
    line-height: 40px;
    margin: 0;
    opacity: 0; /* Initial state for GSAP animation */
    background: var(--background-color);
	padding-left: 5px;
}

.content-platform {
    font-size: 12px;
    margin: 10px 0 0 0;
    opacity: 0; /* Initial state for GSAP animation */
    background: var(--background-color);
	padding-left: 5px;
}

.content-status {
    font-size: 12px;
    margin: 0 0 0 0;
    opacity: 0; /* Initial state for GSAP animation */
    background: var(--background-color);
	padding-left: 5px;
}

.content-description {
    opacity: 0; /* Initial state for GSAP animation */
    background: var(--background-color);
	padding-bottom: 10px;
	padding-left: 5px;
	margin-bottom: 0;
}

.images-container {
	position: relative;
    width: 100%;
    max-width: 1280px;
    min-width: 400px; /* Set the minimum width to 400px */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
	pointer-events: none;
}

.image-placeholder {
    width: 100%;
    height: 100vh !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .content-text {
        position: relative;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0px;
		top: 0;
    }

	.content-detail {
		display: none;
	}

	.content-line {
		width: calc(100% - 35px);
	}

}

.external-link {
	font-size: 11px;
	text-transform: uppercase;
}

.content-sub {
	font-size: 11px;
	text-transform: uppercase;
}